* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    font-size: 80%;
    position: absolute;
    bottom: 20px;
    line-height: 150%;
}

#popup {
    display: none;
    position: absolute;
}

#popup.visible {
    display: block;
    background-color: rgba(255, 255, 153, 0.9);
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* The button used to open the sidebar */
#sidebtn {
    z-index: 2; /* Stay on top of the sidebar */
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 36px;
    color: #aaa;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: color 0.3s, background-color 0.3s, left .5s, rotate .5s;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

#sidebtn span {
    position: relative;
    top: -4px;
    left: 0;
}

#sidebtn:hover {
    color: #444;
    background-color: rgba(255, 255, 255, 1);
}

.showside #sidebtn {
    left: 200px;
    rotate: 180deg;
}

#sidebar {
    height: 100%;
    width: 250px;
    margin-left: 0;
    position: fixed;
    z-index: 1; /* Stay on top of the page */
    background-color: #fff; /* Opaque */
    top: 0;
    left: -250px;
    border-right: 1px solid #ccc;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 50px 30px;
    transition: 0.5s;
}

.showside #sidebar {
    left: 0;
}

#content {
    padding: 5em;
}

.slidecontainer {
  width: 100%;
}

.slider {
  width: 100%;
  opacity: 0.7;
}

.slider:hover {
  opacity: 1;
}
