/* The button used to open the sidebar */
#sidebtn {
    z-index: 2; /* Stay on top of the sidebar */
    position: fixed;
    top: 10px;
    left: 20px;
    text-decoration: none;
    font-size: 36px;
    color: #aaa;
    /* padding: 10px 15px; */
    border: none;
    transition: 0.5s;
}

#sidebtn:hover {
    color: #444;
}

.showside #sidebtn {
    left: 240px;
    rotate: 180deg;
}

#sidebar {
    height: 100%;
    width: 0; /* hidden by default */
    margin-left: 0;
    position: fixed;
    z-index: 1; /* Stay on top of the page */
    background-color: #fff; /* Don't show page */
    top: 0;
    left: 0;
    border-right: 1px solid #ccc; /* Right border */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.showside #sidebar {
    width: 250px;
    padding-left: 2em;
}

#content {
    padding: 5em;
}
